<ul class="submenu">
  <li {% if page.url contains '/docs/cck/building-mounting/gather-tools-and-wireless-equipment' %} class="active" {% endif %}><a href="{% if page.lang != 'en' %}/{{ page.lang }}{% endif %}/docs/cck/building-mounting/gather-tools-and-wireless-equipment">Gather Tools and Equipment</a></li>
  <li {% if page.url contains '/docs/cck/building-mounting/learn-rooftop-basics' %} class="active" {% endif %}><a href="{% if page.lang != 'en' %}/{{ page.lang }}{% endif %}/docs/cck/building-mounting/learn-rooftop-basics">Learn Rooftop Basics</a></li>
  <li {% if page.url contains '/docs/cck/building-mounting/learn-about-rooftop-mounts' %} class="active" {% endif %}><a href="{% if page.lang != 'en' %}/{{ page.lang }}{% endif %}/docs/cck/building-mounting/learn-about-rooftop-mounts">Learn About Rooftop Mounts</a></li>
  <li {% if page.url contains '/docs/cck/building-mounting/prep-install-rooftop-nodes' %} class="active" {% endif %}><a href="{% if page.lang != 'en' %}/{{ page.lang }}{% endif %}/docs/cck/building-mounting/prep-install-rooftop-nodes">Prep and Install Rooftop Nodes</a></li>
</ul>
