<ul class="submenu">
  <li {% if page.url contains '/docs/cck/networking/intro-to-mesh' %} class="active" {% endif %}><a href="{% if page.lang != 'en' %}/{{ page.lang }}{% endif %}/docs/cck/networking/intro-to-mesh">Introduction to Mesh</a></li>
  <li {% if page.url contains '/docs/cck/networking/learn-networking-basics' %} class="active" {% endif %}><a href="{% if page.lang != 'en' %}/{{ page.lang }}{% endif %}/docs/cck/networking/learn-networking-basics">Learn Networking Basics</a></li>
  <li {% if page.url contains '/docs/cck/networking/learn-wireless-basics' %} class="active" {% endif %}><a href="{% if page.lang != 'en' %}/{{ page.lang }}{% endif %}/docs/cck/networking/learn-wireless-basics">Learn Wireless Basics</a></li>
  <li {% if page.url contains '/docs/cck/networking/wireless-challenges' %} class="active" {% endif %}><a href="{% if page.lang != 'en' %}/{{ page.lang }}{% endif %}/docs/cck/networking/wireless-challenges">Wireless Challenges</a></li>
</ul>
