<!-- 

 This template will print the sections and pages for the compendium with a "datafile"

-->

<!-- Note: code is slighly more complex than you'd think because categories arent defined by the complete filestructure/hierarchically, so you have to check that the category is in the current guide -->


{% assign data = site.data[include.definition] %}

{% assign num =  data.sections | size %}

{% for section in data.sections %}
{% if num == 1 %}
<h3>{{section.title}}</h3>
{% else %}
<h2 id="{{section.id}}">{{section.title}}</h2>
{% endif %}

<ul>
{% for post in site.categories[section.id] reversed %}
   {% if post.categories contains page.categories[1] %}
      <li><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a>{% if post.description %}: {{post.description}} {% endif %}</li>
   {% endif %}
{% endfor %}
</ul>
{% endfor %}
