@font-face {
  font-family: AsapRegular;
  src: url('/fonts/Asap-Regular-webfont.ttf') format('truetype');
}
body {
  font-family: 'AsapRegular', Fallback, sans-serif;
}
/* top bar */
.navbar-inners {
  height: 20px;
  margin: 0;
  width: 100%;
  background-color: #877AED;
  float: left;
}
.navbar-inverse {
  border: none;
}
.color0 {
    background-color: #FE739B;
    float: left;
    width: 5%;
}
.color1 {
    background-color: #00FFCF;
    float: left;
    width: 43.5%;
}
.color2 {
    background-color: #C7BA38;
    float: left;
    width: 3%;
}
.color3 {
    background-color: #E8FF00;
    float: left;
    width: 43.5%;
}
.color4 {
    width: 5%;
    float: left;
}

/* logo */
div#logo {
  position: absolute;
  max-width:300px;
  z-index: 6; 
}
div#logo a {
  border-bottom: none;
}
div#logo img {
  max-width:350px; 
}

/* top nav */
div#navbar {
  padding-left: 300px;
  margin-bottom: 0px;
  min-height: 110px;
  margin-right: 50px;
}
div#navbar ul > li a {
  border-bottom: 3px solid;
  border-color:  #fff;
}
div#navbar ul > li a:hover {
  border-color: #E8FF00;
}
div#navbar ul > li.open a {
  border-color: #FF739C;
}
div#navbar ul > li > ul > li a{
  border: none;
}
ul.main-menu  {
    display: block;
    float: right;
    width: 80%;
    margin-right: 2em;
    list-style: none;
    list-style-type: none;
}
ul.main-menu li {
    width: 20%;
    display: block;
    float: left;
}
ul.main-menu li a {
    display: block;
}
ul.main-menu ul li {
    list-style: none;
    list-style-type: none;
    display: block;
}
ul.main-menu li ul {
    display: none;
}
li.dropdown a,
li.dropdown a:visited,
li.static-nodrop a,
li.static-nodrop a:visited {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}


.promo {
    width: 100%;
    min-height: 10em;
    position: relative;
    z-index: 10;
    margin-top: -5.5em; 
}
.contentcontainer {
  background: url('/images/black_tri.png') center top no-repeat;
  margin-right: auto;
  margin-left: auto;
  padding-top: 35px;
}
.blog-landing h3 a:link, .blog-landing h3 a:visited, .contentcontainer a:link, .contentcontainer a:visited {
  border-bottom: 3px solid #E8FF00;
  color: #4D4D4D;
  text-decoration: none;
  background: none;
  padding: 0;
  font-size: 14px;
  font-weight: bold;
}
.blog-landing h3 a:visited, .contentcontainer a:hover, .contentcontainer a:visited {
  border-bottom: 3px solid #FF739C;
  color: #4D4D4D;
  background: none;
}
.contentcontainer a.button {
    background: none repeat scroll 0 0 #00FFCF;
    border-radius: 10px 10px 10px 10px;
    margin-right: 10px;
    padding: 12px 20px;
    border-color: #fff;
}
.contentcontainer a.img {
  border: none;
}
.container {
  width: 100%;
}
.footer-wrapper {
  background: url('/images/white_tri.png') no-repeat center top #00FFCF;
  color: #000000;
}
div#slideshow {
  background: none repeat scroll 0 0 #000000;
  width: 100%;
  height: 200px;
}
div#slideshow .slideshow-inner {
  margin: auto;
  text-align: center;
  padding: 1em;
  color: #fff;
  font-size: 1.5em;
}
div#slideshow li, div#slideshow .noscript {
  width: 80%;
  margin: auto;
}
div#slideshow li a {
  color: #E8FF00;
  text-decoration: underline;
  border: none;
}
div#slideshow li a:hover {
  text-decoration: none;
}
div#slideshow ul.bjqs {
  overflow: visible;
}
div#slideshow ul.bjqs-controls {
  /* margin: -15px -100px 0 0; */
  padding: 0;
  text-align: right;
}
div#slideshow ul.bjqs-controls li {
  display: inline;
  margin: 0;
  padding: 0;
}
div#slideshow li.bjqs-prev {
  float: left;
  position: relative;
  text-align: left;
  bottom: 1em;
}
div#slideshow li.bjqs-next {
  position: relative;
  text-align: right;
  bottom: 1em;
  left: 1em;
}
div#slideshow li.bjqs-prev a {
    background: none repeat scroll 0 0 #FE739B;
    border-radius: 20px 20px 20px 20px;
    margin: auto 1em auto 0;
    padding: 6px 10px;
    border-color: #000;
    font-size: 0.9em;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    opacity: 0.7;
    filter:alpha(opacity=70);
}
div#slideshow li.bjqs-next a {
  background: none repeat scroll 0 0 #FE739B;
  border-color: #000000;
  border-radius: 20px 20px 20px 20px;
  color: #000000;
  font-size: 0.9em;
  font-weight: bold;
  margin: auto 1em auto 0;
  padding: 6px 10px;
  text-decoration: none;
  opacity: 0.7;
  filter:alpha(opacity=70);
}
.control-button {
}
div#slideshow .bjqs-prev a:hover, div#slideshow .bjqs-next a:hover {
  color: #E8FF00;
}
div.pageheadings {
  min-height: 100px;
  background: none repeat scroll 0 0 #000000;
  padding: 35px 0 0 20px;
}
div.pageheadings h1.pageheadings {
  color: #FFFFFF;
  text-align: left;
  font-size: 2.5em;
  padding: 0.3em 0.8em 0;
  margin: 0 0 0 1em;
}
div.pageheadings hr {
  background-color: #FF739C;
  max-width: 460px;
  height: 1px;
  margin:0;
  border:none;
  margin-left: 5em;
}
.footer-wrapper {
  background: url('/images/white_tri.png') no-repeat scroll center top #00FFCF;
  color: #000000;
  padding: 20px 0;
  height: auto;
  margin: 2em 0 0 0;
}
.footer-wrapper ul.menu {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  width: 20%;
}
.footer-wrapper a:link,
.footer-wrapper a:visited {
  color: #000000;
  padding: 3px 2px 2px;
  text-decoration: none;
}
.footer-wrapper a:hover {
  color: #000000;
  text-decoration: none;
}
/* .container {
  width: 100%;
}
*/
.left-third {
  width: 25%;
  min-width: 200px;
  float: left;
  margin: .3em 2em;
}
.right-twothird {
  width: 65%;
  min-width: 400px;
  float: right;
  margin: 1em;
}
.right-twothird p {
  margin-left: 1.3em;
}
.right-twothird hr {
  color: #FE739B;
  height: 2px;
  width: 55%;
}
.right-third {
  width: 20%;
  min-width: 200px;
  float: right;
  margin: 2em;
}
.right-third a {
  line-height: 2em;
  text-decoration: underline;
}
.right-third a:hover,
.left-twothird a:hover {
  color: #000000;
  border-bottom: 3px solid #FF739C;
}
.right-third a.img,
.left-twothird a.img {
  border: none;
}

.left-twothird {
  width: 65%;
  min-width: 400px;
  float: left;
  margin: .3em 0em; 
}
.left-twothird h2 {
  margin-left: 0;
}
.left-twothird a {
  text-decoration: underline;
}
.blog-pubdata {
  margin-left: 1.3em;
}
.blog-teaser-title {

}
.blog-excerpt {

}
div.blog-landing .pagination {
  width: 100%;
  text-align: center;
}
div.blog-landing .pagination a {
  text-decoration: none;
  margin: 0 .5em;
  padding: 2px 3px;
  border: none;
  font-size: 1.1em;
}
div.blog-landing .pagination .active {
  font-size: 1.4em;
  width: 1.5em;
  margin: 0 .75em;
  font-weight: bold;
  border-bottom: 3px solid  #FF739C;
}
div.blog-landing .pagination .prev, div.blog-landing .pagination .next {
  font-size: 1em;
  font-weight: normal;
}
div.blog-landing .pagination .prev {
  margin-right: 3em;
}
div.blog-landing .pagination .next {
  margin-left: 3em;
}

img.noscale {

}

/* Warning label style */
.warning-label {
    border: 5px solid #000000;
    float: right;
    max-width: 40%;
    text-align: center;
    margin: 0 1em 1em;
}
.warning-label .warning-top {
    background-color: #E87600;
    border-bottom: 5px solid #000000;
}
.warning-label .warning-top h2 {
    background: url("/images/alert50.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    display: inline-block;
    margin-bottom: 0 !important;
    padding: 10px 0 0 55px;
    height: 60px;
}
.warning-label {
    text-align: center;
}
.warning-label .warning-bottom ul {
    text-align: left;
}
.warning-label .warning-bottom {
    padding-bottom: 10px;
}

div#downloads-nav {
    margin: 1em 0 3em; 
    text-align: center;
}
div#downloads-nav .tab {
    margin: 0 2em;
    padding: 0 0 3em 0;
}
div#downloads-nav .tab a {
    border: none;
    text-decotion:none;
}
div#downloads-nav .tab.active, div#downloads-nav .tab:hover {
  border-bottom: 6px solid #000;
}

div#download-button-block {
  text-align:center;
}
div#download-button-block .download-button {
  margin: 2em 0 2em 0;
}
div#download-button-block .download-button a.button {
  font-size: 1.5em;
}
/* Files Download Table */
.contentcontainer table.files {
    width: 960px;
    border: 1px #ccc solid;
}
.contentcontainer table.files thead th {
  background: #F7F7F7;
}
.contentcontainer table.files tr.even, .contentcontainer table.files tr.odd {
    background-color: #EEEEEE;
    border-bottom: 1px solid #CCCCCC;
/*     padding: 0.1em 0.6em; */
}
.contentcontainer table.files td {
    text-align: left;
    padding: .5em 5px;
    word-wrap: break-word;
}
.contentcontainer table.files tr.even td{
   background: #F1F5FA;
}
.contentcontainer table.files tr.odd td {
  background: #fff;
}

.contentcontainer table.files .signature {
    background: url("/images/seal.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    margin-left: 10px;
    padding: 5px 21px 5px 0;
}

.verifying-downloads-block {
  float:right;
  width: 25%;
  margin: 40px 0 20px 20px;
}
.RSS-icon {
  float: right;
}
#subsection-menu {
  background-color: #00FFCF;
}
#subsection-menu h3 {
  background-color: #00FFCF;
  color: #000000;
  font-family: AsapBold;
  font-size: 13px;
  margin: 0;
  padding: 0.5em;
  text-decoration: none;
  text-transform: uppercase;
}
#subsection-menu h3 a:link,
#subsection-menu h3 a:visited,
#subsection-menu h3 a:hover {
  border-bottom:none;
  color: #000000;
  background: none;
}
#subsection-menu ul,
#subsection-menu ul li {
  background-color: #00FFCF;
  list-style-type: none;
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
#subsection-menu ul li.active {
  background-color: #E8FF00;
}
#subsection-menu ul ul.submenu li.active {
  background-color: #E8FF00;
}
#subsection-menu ul li a:link,
#subsection-menu ul li a:visited {
  color: #000000;
  display: block;
  padding-left: 0.5em;
  text-decoration: none;
  width: 100%;
  border-bottom: none;
  font-weight: normal;
}
#subsection-menu ul li a:hover {
  background-color: #E8FF00;
}
#subsection-menu ul.submenu {
  background: none repeat scroll 0 0 #CCCCCC;
  border-left: 0.3em solid #FF739C;
  padding-left: 0.5em;
}
#subsection-menu ul.submenu li {
  background: none repeat scroll 0 0 #CCCCCC;
}
#subsection-menu ul.submenu li a:link,
#subsection-menu ul.submenu li a:visited {

}
#subsection-menu ul.submenu li a:hover {

}
.blog-post-promo {
  background: #00FFCF;
  padding: .5em;
}
.blog-container {
  width: 100%;
}
.blog-more {
  margin: 1em 0;
  text-align: right;
}
.floatright {
  float: right;
}
.left-half {
  width: 45%;
  float: left;
  margin: .5em;
  min-width: 400px;
}
.right-half {
  width: 45%;
  float: left;
  margin: .5em;
  min-width: 400px;
}
/* Styles for CCK Module Pages */

.cck-content {
  background: #EAE8E8;
  margin: 0 0 0 68px;
  padding: 1em 0 0 0;
  max-width: 540px;
}
.cck-content-container {
  float: left;
  width: 100%;
}
.cck-content h2 {
  display: block;
  width: 100%;
  background: none repeat scroll 0 0 #333333;
  color: #FFFFFF;
  padding: .5em .5em; 
}
.cck-content h3 {
  border-left: 4px solid #FE739B;
  font-size: 2em;
  letter-spacing: 0;
  margin: 0 0 20px;
  padding: 0 0 0 13px;
}
.cck-content h4 {
    border-bottom: 1px solid #FE739B;
    display: inline-block;
    margin: 0 0 20px 15px;
    padding: 0;
    text-transform: none;
}
.cck-content p,
.cck-content dl {
  padding: 0 1em;
}
.cck-content img {
  width: 100%;
  height: auto;
}
.cck-content section {
  border-bottom: 1px solid white;
  margin-bottom: 25px;
}
.cck-content .related-information,
.cck-content .external-resources {
  background-color: #4D4D4D;
  color: #FFFFFF;
  margin-bottom: 0;
  padding: 25px 0;
}
.cck-content .related-information a,
.cck-content .external-resources a {
  border: medium none !important;
  color: white !important;
  text-decoration: underline !important;
}
.cck-content table {
  width: 95%;
  margin: 0 1em 1em 1em;
}
.cck-content tr:hover, .cck-content td.active {
  background: none repeat scroll 0 0 white;
}
.cck-content tr {
  border-bottom: 1px dashed black;
}
.cck-content thead th {
  background: none repeat scroll 0 0 #F7F7F7;
}
.cck-content tfoot td {
  background: none repeat scroll 0 0 #333333;
  color: white;
  font-weight: bold;
}
.cck-content p.tip:before {
  content: "Tip:";
}
.cck-content p.tip:after {
  background: url("/images/CCK_tip_icon.png") no-repeat scroll 0 0 transparent;
  content: "";
  height: 32px;
  left: 15px;
  position: absolute;
  top: -13px;
  width: 32px;
}
.cck-content p.tip {
  border-bottom: 1px dashed #FE739B;
  border-top: 1px dashed #FE739B;
  font-style: italic;
  margin: 0 20px 25px 15px;
  padding: 30px 0 25px;
  position: relative;
}
.cck-content a:link img {
  background: #EAE8E8;
  border-bottom: none; 
}

.cck-section-page ul.submenu {
  list-style-type: none;
  margin: 20px 0;
  padding: 0;
}
.cck-section-page ul.submenu li {
  list-style-type: none;
  list-style-image: none;
}
.cck-section-page ul.submenu a:link,
.cck-section-page ul.submenu a:visited {
  color: #000000;
  margin-left: 1em;
  padding-left: 1em;
  border-bottom: none;
  font-size: 1.5em;
  text-decoration: none;
  display: block;
}

.cck-section-page ul.submenu a:hover {
  background: #CCCCCC;
  border-left: 2px solid #666666;
}
.cck-download-all {
  margin-top: 1em;
}
.cck-download {
  display: block;
  width: 222px;
  text-align: center;
  text-transform: uppercase;
  background: #000000; 
}
.cck-download a:link, 
.cck-download a:visited,
.cck-download-all a:link, 
.cck-download-all a:visited,
.cck-download-pdf a:link, 
.cck-download-pdf a:visited {
  color: #E8FF00;
  text-decoration: none;
  border-bottom: none;
}
.cck-download a:hover, 
.cck-download-pdf a:hover {
  color: #FFFFFF;
}

div.cck-download-pdf {
  margin-top: 1em;
  display: block;
}
.blog-index h3 {
  border-bottom: 3px solid;
  width: 50%;
}
.blog-index h4 {
  background: none repeat scroll 0 0 #FF7393;
  padding: 0.2em;
  width: 1.4em;
}
.blog-index a:link,
.blog-index a:visited {
  border-bottom: none;
  font-size: 1.1em;
}
.blog-index a:hover {
  border-bottom: 3px solid #FF739C;
}
.blog-index ul li {
  margin-bottom: 1em;
}
.bug-report {
  display: block;
  background-color: #877AED;
}
.bug-report a:link,
.bug-report a:visited,
.send-feedback a:link,
.send-feedback a:visited {
  color: #000000;
  display: block;
  padding: .5em; 
  text-decoration: none;
  width: 100%;
}
.bug-report a:hover,
.send-feedback a:hover {
  color: #FFFFFF;
}
.send-feedback {
  display: block;
  background-color: #66CCFF;
  margin-top: 2em;
}
.lang-switch {
  font-weight: bold;
  color: #666666;
}
.translate-help {
  display: block;
  background: #666666;
  text-decoration: none;
}
.translate-help a:link,
.translate-help a:visited {
  display: block;
  padding: .5em;
  text-decoration: none;
  width: 100%;
  color: #000000;
}
.translate-help a:hover {
  color: #FFFFFF;
}
.tag {
  padding-left: .5em;
}
.index-day {
  padding-left: .5em;
}
/* General classes for Images */
img.full-width {
  width: 100%;
  height: auto;
}
img.threefourths-width {
  width: 75%;
  height: auto;
}
img.half-width {
  width: 50%;
  height: auto;
}
img.onethird-width {
  width: 30%;
  height: auto;
}
img.floatleft {
  float: left;
  margin: 1em;
}
img.floatright {
  float: right;
  margin: 1em;
}

/* Info table classes */
table.infotable {
  border: 1px solid black;
}
table.infotable th, table.infotable tr {
  padding: .5em;
}
table.infotable th {
  background-color: #94B8B8;
}
table.infotable td {
  padding: .5em;
  text-align: center;
}
table.infotable td.highlight {
  background-color: #E6E6E6;
  text-align: left;
}
.faq-content h3,
.about-content h3 {
  margin-left: .5em;
}
.faq-content p,
.about-content p {
  margin-left: 3em;
} 
