/**** GRID START ****/

.grid {
    display: table;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    border: separate;
    border-spacing: 1.5em;
}

.grid:after {
    content: "";
    clear: both;
}

.grid .grid-row {
    display: table-row;
}

.grid .grid-cell {
    display: table-cell;
    min-width: 100px;
    width: 31%;
    border: thin solid lightgrey;
    background-color: #eee;
    text-align: center;
    padding: 15px;
}

.grid .grid-cell:hover {
    background-color: white;
}

.grid .element {
   display: table-cell;
   width: 30%;
   float: left;
   min-width:150px;
   padding: 10px 20px;
   overflow: hidden;
}

.grid .element img:hover {
  border: 2px solid {{site.data.colors.yellow}};
}

.grid .grid-cell .title {
    font-size: 14pt;
    margin: 10px 0px;
}

.grid .grid-cell .title a {
 color: {{site.data.colors.purple}};
 border: none;
 font-weight: 500;
}

.grid .grid-cell .subtitle {
}

.grid .grid-cell img { 
      max-height:100px;
}

.grid a:link img {
    background: #eae8e8;
    border-bottom: none;
}

/**** GRID END ****/

