/**** GRID START ****/

*, *:after, *:before {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

.grid {
    display: table;
    width: 100%;
    max-width:840px;
    margin: 20px auto;
    overflow: hidden;
}

.grid-row {
    display: table-row;
}

.grid .set:last-of-type {
}

.grid:after {
    content: "";
    display: table;
    clear: both;
}

.grid .cell {
    display: table-cell;
    min-width:200px;
    min-height:260px;
    width: 31%;
    margin-right: 2%;
    margin-bottom: 20px;
    float: left;
    border: thin solid lightgray;
    background-color: #eee;
    text-align: center;
    padding: 15px;
}

.grid .element {
   display: table-cell;
   width: 30%;
   float: left;
   min-width:150px;
   padding: 10px 20px;
   overflow: hidden;
}

.grid .element img:hover {
  border: 2px solid {{site.data.colors.yellow}};
}

/*.grid .cell:hover {
    background-color: white;
}*/

.grid .cell .title {
    font-size: 14pt;
    font-weight: 300;
    margin: 10px 0px;
}

.grid .cell .title a {
 color: {{site.data.colors.purple}};
 font-weight: 300;
 border: none;
}

.grid .cell .subtitle {
    font-size: 11pt;
}

.grid .cell img { 
      max-height:100px;
}

.grid a:link img {
    background: #eae8e8;
    border-bottom: none;
}

/**** GRID END ****/

