/**** GRID START ****/

.grid {
    display: table;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    border: separate;
    border-spacing: 1.5em;
}

.grid:after {
    content: "";
    clear: both;
}

.grid-row {
    display: table-row;
}

.element {
   display: table-cell;
   width: 30%;
   float: left;
   min-width:150px;
   padding: 10px 20px;
   overflow: hidden;
}

.grid-cell {
    display: table-cell;
    min-width: 150px;
    width: 31%;
    border: thin solid lightgrey;
    background-color: #eee;
    text-align: center;
    padding: 15px;
}

.grid-cell:hover {
    background-color: white;
}

.grid-cell .title {
  font-size: 1.2em;
  margin: 10px 0px;
  color: black;
}

img.grid-icon { 
  background-color: inherit !important; 
  max-height:100px;
  vertical-align: middle;
}

.grid-gallery {
    height: 245px;
    padding: 0;
}

.grid-gallery .figure img {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color:#eee;
}

.grid-gallery a, .grid-gallery a:link {
    border-bottom: none;
}

.grid-gallery .figure {
   position: relative;
   margin: 0;
   padding: 0;
   height: 100%;
   width: 100%;
}

.grid-gallery .figure .caption {
    position: absolute;
    text-align: left;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: rgba(255,255,255,.9);
    padding: 5px;
}

/**** GRID END ****/

