nav {
  font-size:15px;
  width:100%;
  /* position:fixed;*/
  z-index: 101;
  top:0;
  left:0;
  background: #2e2e2e url({{site.baseurl}}/icons/pattern.png) repeat;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  vertical-align: middle;
  color: white;
  font-weight: normal;
}

nav .nav-title {
  float: left;
  margin-left: 20px;
  text-align:left;
  vertical-align: middle;
  padding: 10px 15px;
}


nav ul {
  list-style:none;
  text-align:right;
  padding:0;
  margin:0px 5% 0px 80px;
}

nav ul li {
  display:inline-block;
  padding: 10px 15px; 
  *display:inline;
  zoom:1;
  min-width:80px;
  max-width:150px;
  margin:0;
}

nav a, nav a:link, nav a:visited {
  color: inherit;
  opacity:.75;
  text-decoration:none;
  border-bottom: none;
  font-weight: normal;
}

nav a:hover {
  opacity:1
}



/* COLOR BAR */
.color-bar {
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  font-size: 18px;
  margin: 0;
  padding: 0px;
  width: 100%;
  background-color: none;
  float: left;
}

.color0 {
    background-color: {{site.data.colors.pink}};
    float: left;
    width: 5%;
}
.color1 {
    background-color: {{site.data.colors.teal}};
    float: left;
    width: 43.5%;
}
.color2 {
    background-color: {{site.data.colors.gold}};
    float: left;
    width: 3%;
}
.color3 {
    background-color: {{site.data.colors.yellow}};
    float: left;
    width: 43.5%;
}
.color4 {
    width: 5%;
    float: left;
    background-color: {{site.data.colors.purple}};
}
/* END COLOR BAR */






#homebutton img {
    width: 100%;
}

#homebutton {
    display: inline;
    width: 10%;
    top: 3px;
    left: 10px;
    position: absolute;
    font-size: 20pt;
}

#homebutton .circle {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: {{site.data.colors.gold}}
}

#homebutton a {
    color: {{site.data.colors.gold}};
}

#homebutton a:hover {
    color: black;
}

.image a, .image a:hover {
    border-bottom: none;
}

